@dark-blue           : #2c3d4e;
@dark-blue-shadow    : #273B4C;
@dark-blue-highlight : #4e687d;

@preside-bar-background-colour          : @dark-blue;
@preside-bar-separator-shadow-colour    : @dark-blue-shadow;
@preside-bar-separator-highlight-colour : @dark-blue-highlight;

