// GREY SCALE
@black               : #000000;
@grey1               : #111111;
@grey2               : #222222;
@grey3               : #333333;
@grey4               : #444444;
@grey5               : #555555;
@grey6               : #666666;
@grey7               : #777777;
@grey8               : #888888;
@grey9               : #999999;
@grey10              : #aaaaaa;
@grey11              : #bbbbbb;
@grey12              : #cccccc;
@grey13              : #dddddd;
@grey14              : #eeeeee;
@white               : #ffffff;

// BLUES
@blue                : #4c8fbd;
@dark-blue           : #2c3d4e;
@dark-blue-shadow    : #273B4C;
@dark-blue-highlight : #4e687d;
@lighter-blue        : #6fb3e0;
@pale-blue           : #f0f7fc;

// REDS
@red                 : #dd5a43;

// GREENS
@pale-green          : #dff0d8;


// IMPLEMENTATIONS
@default-font-colour                  : @grey2;
@default-link-colour                  : @blue;
@default-selected-row-colour          : @pale-green;
@default-row-hover-colour             : @pale-blue;
@default-separator-border-colour      : @grey14;
@default-panel-background-colour      : @grey14;
@default-panel-border-colour          : @grey13;
@default-input-font-colour            : @grey6;
@default-selected-input-border-colour : @lighter-blue;
@default-disabled-font-colour         : @grey9;
@default-light-font-colour            : @grey9;

@preside-bar-background-colour          : @dark-blue;
@preside-bar-separator-shadow-colour    : @dark-blue-shadow;
@preside-bar-separator-highlight-colour : @dark-blue-highlight;
@preside-bar-font-colour                : @white;
@preside-bar-user-photo-border-colour   : @white;

@terminal-bg-colour   : @black;
@terminal-font-colour : @grey10;
@terminal-error       : @red;

@frontendeditor-overlay-label-background-colour : @white;
@frontendeditor-overlay-label-font-colour       : @grey7;
@frontendeditor-overlay-label-border-colour     : @grey12;
@frontendeditor-overlay-draft-warning-color     : @red;
@frontendeditor-overlay-stripes-colour1         : @grey12;
@frontendeditor-overlay-stripes-colour2         : @grey11;
@frontendeditor-preview-pane-border-colour      : @grey13;
@frontendeditor-preview-pane-bg-colour          : @white;

@context-perms-light-font-colour : @grey9;

@login-box-background-colour     : @white;