@import url( 'globals.less' );

.multi-select-panel {
	display: flex;

	.action-buttons {
		margin: auto;

		.btn {
			margin-bottom: 0.6em;
		}
	}

	.sorting-buttons {
		margin: auto;
		text-align: right;

		.sorting-link {
			font-size: 2em;
			margin-bottom: 0;
		}
	}
}