.focal-point-image-container {
  border: 1px solid #ccc;
  display: inline-block;
  margin-bottom: 5px;
  padding: 15px;
  position: relative;
}
.focal-point-image-container .focal-point-image {
  cursor: crosshair;
}
.focal-point-image-container .focal-point-crosshair {
  border: 5px solid white;
  border-radius: 50%;
  cursor: crosshair;
  display: block;
  height: 28px;
  left: 0;
  margin: 2px;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 28px;
}
.focal-point-image-container .focal-point-crosshair:before {
  border: 3px solid red;
  border-radius: 50%;
  content: '';
  display: block;
  height: 26px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 26px;
}
