.modal-dialog-layout-container {
	height: 100%;

	.modal-padding {
		height  : 100%;
		padding : 0 !important;

		.webflow-form-ajax-submit {
			width  : 100%;
			height : 100%;

			iframe {
				width  : 100%;
				height : 100%;
			}
		}
	}
}