.presidecms .form-actions {
  display: none;
}
.presidecms .asset-manager-listing-form {
  min-height: 400px;
}
.presidecms .asset-listing-table tbody tr td {
  vertical-align: middle;
}
.presidecms .asset-listing-table tbody tr td .icon-derivative {
  margin-right: 0.5em;
  display: inline-block;
}
.presidecms .asset-listing-table tbody tr td .asset-preview {
  width: 60px;
  display: inline-block;
}
.presidecms .asset-listing-table tbody tr:first-child td {
  border-top: none;
}
