.presidecms .asset-listing-table tbody tr td {
  height: 45px;
  vertical-align: middle;
}
.presidecms .asset-listing-table tbody tr td .icon-derivative {
  margin-right: 1em;
  height: 32px;
  width: 32px;
}
