.presidecms .preside-tree-nav {
  overflow: visible;
}
.presidecms .preside-tree-nav .tree-folder {
  border: none;
}
.presidecms .preside-tree-nav .tree-folder .tree-folder-header .tree-node-toggler {
  margin-left: -4px !important;
  margin-right: 0 !important;
  position: relative;
  z-index: 2;
}
.presidecms .preside-tree-nav .tree-node {
  margin-right: -2px !important;
}
.presidecms .preside-tree-nav .tree-node .node-name {
  margin-left: 0;
  display: block;
}
.presidecms .preside-tree-nav .tree-node.selected {
  background-color: #f0f7fc !important;
}
.presidecms .preside-tree-nav .tree-node.selected:after {
  display: inline-block;
  content: "";
  position: absolute;
  right: -2px;
  top: -1px;
  bottom: 0;
  z-index: 2;
  border: 2px solid #4c8fbd;
  border-width: 0 2px 0 0;
}
.presidecms .preside-tree-nav .tree-node.selected .node-name:after {
  display: block;
  content: "";
  position: absolute !important;
  z-index: 2;
  right: 0;
  top: 3px;
  border: 8px solid transparent;
  border-width: 12px 8px;
  border-right-color: #4c8fbd;
}
.presidecms .preside-tree-nav .tree-node.tree-folder-header.selected:after {
  right: -1px;
}
.presidecms .preside-tree-nav .tree-node.tree-folder-header.selected .node-name:after {
  right: 1;
  top: 3px;
}
