@import url( 'globals.less' );

.presidecms {
	.preside-tree-nav {
		.tree-folder .tree-folder-header .tree-node-toggler {
			font-size    : 0.7em;
			margin-left  : -4px !important;
			margin-right : 0 !important;
			position     : relative;
			z-index      : 2;
		}

		.tree-node {
			.node-name {
				margin-left : 0;
			}
		}
	}
}