.presidecms .tree-table .actions > .fa,
.presidecms .tree-table .actions a .fa {
  margin-right: 0.4em;
}
.presidecms .tree-table .actions > .fa.disabled,
.presidecms .tree-table .actions a .fa.disabled {
  color: #bbbbbb;
}
.presidecms .tree-table .tree-toggler {
  color: #222222;
  cursor: pointer;
  margin-left: -1.28571429em;
}
.presidecms .tree-table tbody > tr.selected,
.presidecms .tree-table tbody > tr:active,
.presidecms .tree-table tbody > tr:focus {
  outline: 0;
}
.presidecms .tree-table tbody > tr.selected > td,
.presidecms .tree-table tbody > tr:active > td,
.presidecms .tree-table tbody > tr:focus > td {
  background-color: #dff0d8;
}
.presidecms .tree-table tbody > tr > td:first-child {
  padding-left: 1.78571429em;
}
.presidecms .tree-table tbody > tr.draft {
  font-style: italic;
}
.presidecms .tree-table tbody > tr.draft a {
  color: #6fb3e0;
}
.presidecms .tree-table tbody > tr.has-drafts {
  font-style: italic;
}
.presidecms .tree-table .page-title-cell {
  min-width: 450px;
}
.presidecms .tree-table .page-title-cell .page-title {
  text-overflow: ellipsis;
  width: 270px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  position: relative;
  top: 4px;
}
.presidecms .tree-table .preview-link {
  text-overflow: ellipsis;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.presidecms .tree-table .managed-page-type-link-cell {
  font-style: italic;
}
.presidecms .tree-table .ajax-loading,
.presidecms .tree-table .ajax-loading-error {
  color: #999999;
  font-style: italic;
}
.presidecms .tree-table .depth-1 td:first-child {
  padding-left: 3.57142858em;
}
.presidecms .tree-table .depth-2 td:first-child {
  padding-left: 4.85714287em;
}
.presidecms .tree-table .depth-3 td:first-child {
  padding-left: 6.14285716em;
}
.presidecms .tree-table .depth-4 td:first-child {
  padding-left: 7.42857145em;
}
.presidecms .tree-table .depth-5 td:first-child {
  padding-left: 8.71428574em;
}
.presidecms .tree-table .depth-6 td:first-child {
  padding-left: 10.00000003em;
}
.presidecms .tree-table .depth-7 td:first-child {
  padding-left: 11.28571432em;
}
.presidecms .tree-table .depth-8 td:first-child {
  padding-left: 12.57142861em;
}
