.body img {
  max-width : 100%;
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
  border-radius: 1%     1%     1%     1% /     1%     1%     1%     1%;
}

.body img:before {
  position: absolute;
  width: 100%;
  height: 80%;
  border-radius: 10px / 100px;
  z-index: -1;
  top: 10%;
  bottom: 10%;
  content: "";
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

.body img.no-border {
  background-color: transparent;
  position: static;
  box-shadow: none;
  border-radius: 0;
}

.body img.no-border:before {
  content : none;
}