html.presidecms {
  background: #2c3d4e url(../../../../images/backgrounds/login-puffin.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.presidecms .login-layout {
  background-color: transparent;
}
.presidecms .login-layout .widget-box,
.presidecms .login-layout .widget-box,
.presidecms .login-layout .widget-main {
  background-color: #ffffff;
}
.presidecms .login-layout .widget-box {
  top: 100px;
  padding: 10px;
}
.presidecms .login-layout .widget-box .cms-brand {
  height: 48px;
  text-indent: -999px;
  background: url(../../../../images/logos/preside-logo-for-login.png ) no-repeat center center;
}
.presidecms .login-layout .widget-box .cms-brand.pulled-left {
  background-position: left center;
}
.presidecms .login-layout .admin-locale-picker-container {
  position: absolute;
  top: 10px;
  right: 0;
}
.presidecms .login-layout .admin-locale-picker-container .admin-locale-picker-link:hover {
  text-decoration: none;
}
.presidecms .login-layout.two-col .login-container {
  width: 750px;
}
.presidecms .login-layout.two-col .widget-box,
.presidecms .login-layout.two-col .widget-box,
.presidecms .login-layout.two-col .widget-main {
  background-color: #ffffff;
}
.presidecms .login-layout.two-col .widget-box .widget-main {
  padding-left: 18px;
  padding-right: 18px;
}
.presidecms .login-layout.two-col .right-col {
  border-left: 1px solid #eeeeee;
}
.presidecms .login-layout.two-col .login-help-title {
  height: 35px;
  font-size: 2em;
  margin-top: 23px;
}
.presidecms .login-layout.two-col .login-help-image {
  display: block;
  margin: 15px auto;
}
.presidecms .admin-locale-picker-container .locale-flag {
  margin-right: 0.2em;
}
