.presidecms .time-period-picker-wrapper .time-period-type.chosen-container,
.presidecms .time-period-picker-wrapper .input-icon.block {
  margin-bottom: 1em;
}
.presidecms .time-period-picker-wrapper .time-period-unit.chosen-container {
  width: calc(100% - 170px) !important;
  margin-left: 7px;
}
