@import url( 'globals.less' );

.presidecms {
	.time-period-picker-wrapper {

		.time-period-measure-unit-group {
			display     : flex;
			gap         : 7px;
			align-items : center;

			.time-period-unit,
			.time-period-unit2 {
				margin-top    : 1px;
				margin-bottom : 1em;
			}

			.time-period-relative-endpoint-label {
				min-width : 3em;
			}
		}

		.time-period-type.chosen-container, .input-icon.block {
			margin-bottom : 1em;
		}

	}
}