@import url( 'globals.less' );

@labs-signpost-width : 414px;

.presidecms .popover.labs-signpost-popover {
	max-width : @labs-signpost-width;
	width     : @labs-signpost-width;

	.popover-title .fa {
		margin-right : 4px;
	}

	.popover-content ul {
		padding-left  : 20px;
		margin-bottom : 10px;
	}

	.labs-signpost-actions {
		display         : flex;
		justify-content : space-between;
		align-items     : center;
		margin-top      : 10px;
	}
}
