.task-log pre {
  white-space: pre;
  background-color: #333;
  height: 400px;
  overflow: auto;
}
.task-log .line-number {
  width: 40px;
  color: #666;
  text-align: right;
  display: inline-block;
  margin-right: 4px;
  vertical-align: top;
}
.task-log .task-log-line {
  width: 90%;
  width: calc(100% - 50px);
  display: inline-block;
  word-break: normal;
  white-space: pre-wrap;
}
.task-log .task-log-error,
.task-log .task-log-fatal {
  color: #d53f40;
}
.task-log .task-log-warn {
  color: #f5962d;
}
.task-log .task-log-info {
  color: #629b58;
}
.task-log .task-log-debug {
  color: #666;
}
.running .running-for,
.complete .time-taken {
  display: inline-block;
}
.complete .running-for,
.complete .kill-task,
.running .time-taken {
  display: none;
}
.kill-task {
  margin-left: 4px;
}
