.presidecms .dropdown-menu > li p {
  margin: 0;
}
.presidecms .dropdown-menu > li p.description {
  width: 300px;
  white-space: normal;
  margin: 2px 0 4px;
}
.presidecms .dropdown-menu > li:hover .description .light-grey {
  color: #ffffff !important;
}
