.wy-side-nav-search {
	background-color : #2C3D4E;

}

.wy-side-nav-search .home-link {
	background     : url( ./logo-preside-admin-header.png ) 3px 0px no-repeat;
	display        : block;
	height         : 31px;
	width          : 300px;
	text-indent    : -9999px;
}

.wy-side-nav-search .home-link:hover {
	background     : url( ./logo-preside-admin-header.png ) 3px 0px no-repeat;
}

.wy-menu-vertical li.on a,
.wy-menu-vertical li.current > a {
	border-top : none; /* remove top border 'shadow' doesn't fit with Presideish theme */
}

.wy-nav-content-wrap .wy-nav-content  {
	max-width : 1000px;
	padding   : 1em;
}

.wy-nav-side .wy-menu {
	padding-top : 1em;
}

hr {
	margin : 12px 0;
}

#page-toc li { list-style : none; }
#page-toc >ul >li, #page-toc >ul >li >ul >li { margin-left : 0; }
#page-toc >ul >li >a { display : none; }

.figure .caption {
	margin-top : 4px;
	font-style : italic;
}

.wy-table thead th,
.rst-content table.docutils thead th,
.rst-content table.field-list thead th {
	border-right-color : #E1E4E5;
}

.wy-table-responsive table td,
.wy-table-responsive table th {
	white-space : normal;
}

.wy-table td,
.rst-content table.docutils td,
.rst-content table.field-list td {
	vertical-align : top;
}

.rst-versions.rst-badge {
	bottom : 0;
	left   : 0;
	right  : auto;
	width  : 300px;
}

.rst-versions.rst-badge .rst-current-version {
	text-align : right;
}

.rst-versions.rst-badge.shift-up .rst-current-version .fa-book {
	margin: 9px 0 0 6px;
}