html.presidecms {
  overflow-y: auto !important;
}
.presidecms .widget-image-link {
  display: block;
  margin: 10px 0;
}
.presidecms .widget-image-link img {
  width: 100%;
}
.presidecms .widget-search .input-icon {
  width: 100%;
}
.presidecms .widget-search .input-icon input {
  border: 1px solid #6fb3e0;
  width: 100%;
  border-radius: 4px !important;
  font-size: 13px;
  color: #666666;
  padding-left: 25px;
}
.presidecms .widget-search .input-icon .fa {
  top: -5px !important;
}
.presidecms .widget-list li {
  border-bottom: 1px solid #dddddd;
  padding: 0 5px 5px 5px;
  overflow: auto;
}
.presidecms .widget-list li:last-child {
  border-bottom: none;
}
.presidecms .widget-list li:active,
.presidecms .widget-list li:focus,
.presidecms .widget-list li:hover {
  cursor: pointer;
  outline: none;
  background-color: #eeeeee;
}
.presidecms .widget-list li .widget-icon-container {
  margin-right: 1em;
  min-width: 60px;
}
