@import url( 'globals.less' );

.presidecms {
	.segmentation-tags {
		display    : flex;
		flex-wrap  : wrap;
		gap        : .5em;
		margin-top : 12px;

		.segmentation-tag {
			white-space   : nowrap;
			overflow      : hidden;
			text-overflow : ellipsis;
			padding       : .25em .75em;
			border        : 1px solid;
			border-radius : 3em;
			color         : @blue;
		}
	}
}