.quick-add-form,
.configurator-form {
  margin-top: 20px;
}
.quick-add-form .form-actions,
.configurator-form .form-actions {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
}
.quick-add-form .form-actions .form-group,
.configurator-form .form-actions .form-group {
  margin-bottom: 0;
}
