html.presidecms {
  overflow-y: scroll;
}
html.presidecms.iframe {
  overflow-y: auto;
}
.presidecms .modal {
  overflow: hidden;
}
.presidecms .main-container.modal-dialog-layout-container .row {
  margin-right: 0;
  margin-left: 0;
}
.presidecms body.modal-open,
.presidecms .modal-open .navbar-fixed-top,
.presidecms .modal-open .navbar-fixed-bottom {
  margin-right: 0;
}
.presidecms .navbar-container .dropdown-menu.dropdown-close.pull-right {
  right: 0;
  width: 100%;
}
.presidecms input[type="checkbox"].ace + .lbl,
.presidecms input[type="radio"].ace + .lbl,
.presidecms input[type="checkbox"].ace.ace-checkbox-2 + .lbl,
.presidecms input[type="radio"].ace.ace-checkbox-2 + .lbl {
  z-index: 2;
}
.presidecms input[type="checkbox"].ace:focus + .lbl::before,
.presidecms input[type="radio"].ace:focus + .lbl::before,
.presidecms input[type="checkbox"].ace.ace-checkbox-2:focus + .lbl::before,
.presidecms input[type="radio"].ace.ace-checkbox-2:focus + .lbl::before {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.presidecms .dataTable tbody tr.focus {
  outline: 0 !important;
}
.presidecms .dataTable tbody tr.focus td,
.presidecms .dataTable tbody tr.focus th {
  background-color: #f0f0ff;
}
.presidecms .dataTable tbody tr.clickable td,
.presidecms .dataTable tbody tr.clickable th {
  cursor: pointer;
}
.presidecms .gritter-item a,
.presidecms .gritter-item a:visited {
  color: #eeeeee;
  text-decoration: underline;
}
.presidecms .gritter-item a:hover,
.presidecms .gritter-item a:visited:hover {
  color: white;
}
.presidecms .top-right-button-group {
  position: absolute;
  right: 10px;
  top: -62px;
}
.presidecms .top-right-button-group button {
  margin-left: 1em;
}
.presidecms .form-group .required sup i {
  color: #d87464;
  font-size: 8px;
}
.presidecms .form-group .required span {
  display: none;
}
.presidecms textarea:focus,
.presidecms input[type="text"]:focus,
.presidecms input[type="password"]:focus,
.presidecms input[type="datetime"]:focus,
.presidecms input[type="datetime-local"]:focus,
.presidecms input[type="date"]:focus,
.presidecms input[type="month"]:focus,
.presidecms input[type="time"]:focus,
.presidecms input[type="week"]:focus,
.presidecms input[type="number"]:focus,
.presidecms input[type="email"]:focus,
.presidecms input[type="url"]:focus,
.presidecms input[type="search"]:focus,
.presidecms input[type="tel"]:focus,
.presidecms input[type="color"]:focus {
  border-color: #64a6bc;
}
.presidecms .chosen-container {
  width: 100% !important;
}
.presidecms .chosen-container.chosen-container-single .chosen-single div {
  position: static;
  width: auto;
  height: auto;
}
.presidecms .chosen-container.chosen-container-single .chosen-single div.chosen-action-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
.presidecms .chosen-container.chosen-container-multi .chosen-choices li.search-choice {
  margin: 0 0 7px 7px;
  padding: 5px 20px 5px 5px;
  background-color: #f5f5f5;
  background-image: none;
  box-shadow: none;
}
.presidecms .chosen-container.chosen-container-multi .chosen-choices li.search-choice:hover {
  background-color: #e5e5e5;
}
.presidecms .chosen-container.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  top: 6px;
}
.presidecms .chosen-container.chosen-container-multi .chosen-choices.ui-sortable li.search-choice {
  cursor: pointer;
}
.presidecms .chosen-container.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: 25px;
  color: #999 !important;
  padding: 0 5px;
}
.presidecms .chosen-container.chosen-container-multi .chosen-choices li.search-field:first-child {
  padding-bottom: 7px;
  margin-top: -2px;
}
.presidecms .chosen-container.chosen-container-multi .chosen-choices {
  padding-top: 7px;
}
.presidecms .user-photo {
  margin: -4px 8px 0 0;
  border-radius: 100%;
  border: 2px solid #FFF;
  max-width: 40px;
}
.presidecms .user-photo.tiny {
  max-width: 20px;
  border: none;
  margin-right: 2px;
}
.presidecms .user-info {
  max-width: none;
  vertical-align: baseline;
  top: 2px;
}
