.presidecms .dataTables_wrapper .dataTables_filter .input-icon .data-table-search {
  border: 1px solid #6fb3e0;
  width: 300px;
  border-radius: 4px !important;
  font-size: 13px;
  color: #666666;
  padding-left: 25px;
}
.presidecms .dataTables_wrapper .dataTables_filter .input-icon .data-table-search-icon {
  color: #6fb3e0 !important;
  font-size: 14px;
  line-height: 24px;
  margin-left: 3px;
}
.presidecms .dataTables_wrapper .row:first-child + .dataTable {
  border-top: none !important;
}
.presidecms .dataTables_wrapper .dataTables_processing {
  display: none;
}
.presidecms .dataTables_wrapper .dataTable th {
  background-image: none !important;
}
.presidecms .dataTables_wrapper .dataTable th.sorting:after {
  content: none;
}
.presidecms .dataTables_wrapper .dataTable th.sorting-asc:after {
  content: "\f0de";
}
.presidecms .dataTables_wrapper .dataTable th.sorting-desc:after {
  content: "\f0dd";
}
.presidecms .table thead tr {
  background-image: none !important;
  background-color: transparent !important;
}
.presidecms .table thead tr th {
  border-top: none !important;
}
