.presidecms .chosen-container.asset-picker {
  width: calc(100% - 50px) !important;
  width: -moz-calc(100% - 50px) !important;
  width: -webkit-calc(100% - 50px) !important;
  width: -o-calc(100% - 50px) !important;
}
.presidecms .chosen-container.asset-picker + .btn {
  font-size: 17px;
  padding: 0;
  height: 46px;
  line-height: 46px;
  width: 51px;
  margin-left: -1px;
  text-align: center;
  vertical-align: top;
  border: 1px solid #abbac3;
}
.presidecms .chosen-container.asset-picker + .btn i {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin: 0;
}
.presidecms .chosen-container.asset-picker.chosen-container-multi + .btn {
  height: 48px;
}
.presidecms .chosen-container.asset-picker.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: 32px;
}
.presidecms .chosen-container.asset-picker.chosen-container-single .chosen-single {
  min-height: 46px;
  line-height: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-right: none;
}
.presidecms .chosen-container.asset-picker.chosen-container-single .chosen-single > span {
  display: block;
}
.presidecms .chosen-container.asset-picker.chosen-container-single .chosen-single div.chosen-action-icon {
  top: 4px;
  right: 4px;
}
.presidecms .chosen-container.asset-picker.chosen-container-single .chosen-single .search-choice-close {
  top: 10px;
}
.presidecms .chosen-container.asset-picker .result-container {
  height: 36px;
}
.presidecms .chosen-container.asset-picker .result-container .icon-container {
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
}
.presidecms .chosen-container.asset-picker .result-container .icon-container img {
  margin-top: 2px;
}
.presidecms .chosen-container.asset-picker .result-container .folder-and-text {
  display: inline-block;
}
.presidecms .chosen-container.asset-picker .result-container .folder-and-text .folder {
  display: block;
  font-style: italic;
  color: #777;
  margin-bottom: 3px;
}
.presidecms .chosen-container.asset-picker .result-container .folder-and-text .title {
  display: block;
}
.presidecms .chosen-container.asset-picker .chosen-results .highlighted .result-container .folder-and-text .folder {
  color: #eee;
}
.presidecms .chosen-container.asset-picker .chosen-results .result-selected .result-container img {
  opacity: 0.3;
}
.presidecms .chosen-container.asset-picker .chosen-results .result-selected .result-container .folder-and-text .folder {
  color: #ccc;
}
.presidecms .chosen-container.asset-picker .chosen-results .icon-container {
  min-width: 48px;
}
.presidecms .chosen-container.asset-picker.chosen-container-active + .btn {
  border-top-color: #6fb3e0;
  border-right-color: #6fb3e0;
  border-bottom-color: #6fb3e0;
}
.presidecms .chosen-container.asset-picker .chosen-default span {
  margin-top: 10px;
}
.presidecms .uber-browser-dialog .modal-dialog {
  width: 822px;
}
.presidecms .uber-browser-dialog .modal-dialog .modal-body {
  padding: 0;
}
