html.presidecms {
    overflow-y                  : scroll;
    position                    : relative;
    -ms-text-size-adjust        : 100%;
    -webkit-text-size-adjust    : 100%;
    -webkit-tap-highlight-color : rgba(0,0,0,0);

    &.iframe {
        overflow-y : auto;
    }
}

body {
    height : 100%;
}

.presidecms {
    font-family : @default-font;
    font-size   : 12px;
}