.modal-dialog-layout-container {
	.main-content {
		margin-left : 0;
	}
}


&.quick-add-modal, &.quick-edit-modal {
 	.modal-dialog {
 		width: 922px;

 		.modal-body {
			padding : 0;
		}

		.modal-footer {
			margin-top : 0;
		}
	}
}

.full-screen-dialog {
	height : 100%;
	.modal-dialog {
		width : calc( ~"100% - 25px" );
		height : 100%;

		.modal-content {
			height : 100%;

			.modal-body {
				height  : calc( ~"100% - 116px" );
				padding : 0;

				.bootbox-body {
					height : 100%;

					iframe {
						height : 100%;
					}
				}
			}

			.modal-footer {
				margin-top : 0;
			}
		}
	}
}

.presidecms.modal-backdrop {
	z-index : 1030;
}

.presidecms.iframe {
	.page-content {
		padding-left  : 0;
		padding-right : 0;
	}
}