.presidecms {
	.preside-theme {
		.webflow-layout {
			.webflow-step-title {
				margin-top: 40px;
				margin-bottom: 30px;
				padding-bottom: 6px;
				border-bottom: 1px solid #e2e2e2;
				font-size: 22px;
				font-weight: normal;
			}

			.webflow-action-buttons {
				border-top: 1px solid #e2e2e2;
				padding-top: 20px;
				margin-top: 20px;

				.webflow-cancel-btn-container,
				.webflow-prev-btn-container {
					float: left;

					.webflow-cancel-btn {
						padding: 12px 6px;
						display : inline-block;
					}

					.webflow-prev-btn {
						margin-right: 10px;
					}
				}

				.webflow-next-btn-container {
					float: right;
				}
			}

			.webflow-form {
				fieldset {
					h3 {
						margin-bottom: 30px;
					}
				}
			}

		}
	}
}