.presidecms .batch-add-assets-form .upload-options-title {
  padding: 5px 0px;
  margin: 2px 0px 5px;
  border-bottom: 2px solid #ddd;
  color: #707070;
  line-height: 1.42857;
  font-size: 13px;
  font-weight: 700;
}
