.manage-context-permissions-form {
	.table {
		.permission-col {
			width : 30%;

			h4 {
				margin : 0 0 4px;
			}
		}

		.edit-col {
			width : 35%;

			.inherited-perms {
				margin : 4px 0;
			}
		}

		tbody>tr>td {
			vertical-align: top;
		}
	}
}