.presidecms .formbuilder-item-type-picker .formbuilder-item-type-picker-category-title {
  font-weight: normal;
  color: #999999;
  margin: 0 0 10px 2px;
  font-size: 100%;
}
.presidecms .formbuilder-item-type-picker .formbuilder-item-type-picker-item-list {
  margin: 0;
}
.presidecms .formbuilder-item-type-picker .formbuilder-item-type-picker-item-list .item-type {
  cursor: move;
  display: block;
  float: left;
  width: 50%;
  padding: 5px 10px;
  border: 1px solid #ffffff;
  background-color: #f0f7fc;
}
