.formbuilder-workpanel {
  border-left: 1px solid #eeeeee;
}
.formbuilder-workpanel .formbuilder-workpanel-header,
.formbuilder-workpanel .formbuilder-workpanel-body {
  padding: 15px;
}
.formbuilder-workpanel .formbuilder-workpanel-header {
  border-bottom: 1px solid #eeeeee;
}
.formbuilder-workpanel .formbuilder-workpanel-header h2 {
  font-weight: lighter;
  margin-top: 0;
}
.formbuilder-workpanel .formbuilder-workpanel-body {
  position: relative;
}
.formbuilder-workpanel .formbuilder-workpanel-body .instructions {
  text-align: center;
  padding: 20px 0;
}
.formbuilder-workpanel .formbuilder-workpanel-body .instructions .empty-notice {
  display: none;
}
.formbuilder-workpanel .formbuilder-workpanel-body .instructions.empty .empty-notice {
  display: block;
}
.formbuilder-workpanel .formbuilder-workpanel-body .instructions.empty .not-empty-notice {
  display: none;
}
.formbuilder-workpanel .formbuilder-workpanel-body .form-items .item-type {
  padding: 10px;
  background-color: #f0f7fc;
  border: 1px solid #93cbf9;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.1em;
}
.formbuilder-workpanel .formbuilder-workpanel-body .form-items .item-type.sortable-placeholder {
  border: 2px dashed #93cbf9;
  min-height: 3em;
}
.formbuilder-workpanel .formbuilder-workpanel-body .form-items .item-type .sort-link:active,
.formbuilder-workpanel .formbuilder-workpanel-body .form-items .item-type .sort-link:hover {
  cursor: move;
}
