@import url( 'globals.less' );

.presidecms {
	.formbuilder-item-type-picker {
		.formbuilder-item-type-picker-category-title {
			font-weight : normal;
			color       : @default-light-font-colour;
			margin      : 0 0 10px 2px;
			font-size   : 100%;
		}

		.formbuilder-item-type-picker-item-list {
			margin : 0;

			.item-type {
				cursor           : move;
				display          : block;
				float            : left;
				width            : 50%;
				padding          : 5px 10px;
				border           : 1px solid @white;
				background-color : @pale-blue;
			}
		}

	}
}