@import url( 'globals.less' );

.formbuilder-workpanel {

	border : 1px solid @default-panel-background-colour;

	.formbuilder-workpanel-header, .formbuilder-workpanel-body {
		padding : 15px;
	}

	.formbuilder-workpanel-header {
		border-bottom : 1px solid @default-panel-background-colour;

		h2 {
			font-weight : lighter;
			margin-top  : 0;
		}
	}

	.formbuilder-workpanel-body {
		.instructions {
			text-align : center;
			padding    : 20px 0;
		}
	}

}