.wy-nav-side {
	position : fixed;
}

.wy-nav-content {
	padding-top : 0;
}

.wy-nav-content .rst-content > div[role="navigation"]:first-child {
	position         : fixed;
	background-color : white;
	width            : 100%;
	padding-top      : 1.618em;
}

.wy-nav-content .rst-content > div[role="navigation"]:first-child hr {
	margin-bottom : 0;
}

.wy-nav-content .rst-content > div[role="navigation"]:first-child + div[role="main"] {
	padding-top : 100px;
}

.wy-nav-content-wrap .wy-nav-content  {
	max-width : 1000px;
}

#page-toc li { list-style : none; }
#page-toc >ul >li, #page-toc >ul >li >ul >li { margin-left : 0; }
#page-toc >ul >li >a { display : none; }

.figure .caption {
	margin-top : 4px;
	font-style : italic;
}

.wy-table thead th,
.rst-content table.docutils thead th,
.rst-content table.field-list thead th {
	border-right-color : #E1E4E5;
}

.wy-table-responsive table td,
.wy-table-responsive table th {
	white-space : normal;
}

.wy-table td,
.rst-content table.docutils td,
.rst-content table.field-list td {
	vertical-align : top;
}