.header-bar {
	width            : 100%;
	position         : fixed;
	z-index          : 201;
	color            : white;
	background-color : #2C3D4E;
}

.header-bar .project-title {
	background     : url( ./logo-preside-admin-header.png ) 10px 10px no-repeat;
	display        : block;
	height         : 51px;
	width          : 300px;
	text-indent    : -9999px;
	float          : left;
}

.header-bar div[role="search"] {
	float : left;
	width : calc( 100% - 320px );
	padding : 10px;
}

.header-bar div[role="search"] input[type="text"] {
	width: 100%;
	border-radius: 50px;
	padding: 6px 12px;
	border-color: #2C3D4E;
}

.wy-grid-for-nav,
.wy-grid-for-nav .stickynav {
	top : 51px;
}

.wy-menu-vertical li.on a,
.wy-menu-vertical li.current > a {
	border-top : none; /* remove top border 'shadow' doesn't fit with Presideish theme */
}

.wy-nav-content-wrap .wy-nav-content  {
	max-width : 1000px;
	padding   : 1em;
}

.wy-nav-side .wy-menu {
	padding-top : 1em;
}

hr {
	margin : 12px 0;
}

#page-toc li { list-style : none; }
#page-toc >ul >li, #page-toc >ul >li >ul >li { margin-left : 0; }
#page-toc >ul >li >a { display : none; }

.figure .caption {
	margin-top : 4px;
	font-style : italic;
}

.wy-table thead th,
.rst-content table.docutils thead th,
.rst-content table.field-list thead th {
	border-right-color : #E1E4E5;
}

.wy-table-responsive table td,
.wy-table-responsive table th {
	white-space : normal;
}

.wy-table td,
.rst-content table.docutils td,
.rst-content table.field-list td {
	vertical-align : top;
}